.grid {
	display: grid;
	grid-column-gap: 20px;
}

.grid-columns {
	grid-template-columns: [main-start] 40px repeat(12, [col-start] minmax(auto, 1fr)) [main-end] 40px;
}

.grid-base {
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 74px minmax(calc(100vh - 309px), max-content) 235px;
	header {
		grid-area: header;
	}
	main {
		grid-area: main;
	}
	footer {
		grid-area: footer;
	}
}

@media (max-width: 991px) {
	.grid-columns {
		grid-template-columns: [main-start] 10px repeat(2, [col-start] minmax(auto, 1fr)) [main-end] 10px;
	}
	.grid-base {
		grid-template-rows: 74px minmax(calc(100vh - 307px), max-content) 233px;
	}
}

@media (max-width: 1199px) {
	.grid-columns {
		grid-template-columns: [main-start] 20px repeat(12, [col-start] minmax(auto, 1fr)) [main-end] 20px;
	}
}