.accordion {
	padding-left: 24px;
	padding-bottom: 30px;
	&.expanded .accordion-header:before {
		transform: rotate(-45deg);
		top: 10px;
		transition: transform 500ms ease;
	}
}
.accordion-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	position: relative;
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: -20px;
		width: 8px;
		height: 8px;
		border-top: 2px solid $main-color;
		border-right: 2px solid $main-color;
		transform: rotate(135deg);
		transition: transform 500ms ease;
	}
	p {
		margin-bottom: 0;
	}
}
.accordion-collapse {
	display: none;
	padding-top: 10px;
	p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 30px;
	}
}
