header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 74px;
	background-color: $main-color;
	align-items: center;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	z-index: 20;
}
.logo {
	grid-column: col-start 1 / span 2;
}

@media (max-width: 991px) {
	header {
		min-height: 74px;
		height: auto;
		align-items: start;
		padding-top: 20px;
	}
	.logo {
		grid-column: col-start 1 / span 1;
	}
}