// Главная

// end Главная

// Страницы соглашений
.terms-page {
	padding-top: 55px;
	padding-bottom: 45px;
	.box-content {
		grid-column: col-start 2 /span 10;
	}
}
// end Страницы соглашений

// Формы
.form-page {
	padding: 90px 0 107px;
}
// end Формы

@media (max-width: 991px) {
	.terms-page {
		padding-top: 20px;
		padding-bottom: 20px;
		.box-content {
			grid-column: col-start 1 /span 2;
		}
	}
	.form-page {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media(max-width:1199px){

}

@media(max-width:1460px){

}